
<h2>Adding new friends</h2>


<%= form_for @user, :url => parse_form_data_path, :html => {:method => :post} do |f| %>

<h4>How close are you to these people?  Use the drop down box or create a unique relationship</h4>

<%=f.fields_for :add_friend_ids do |u|%>
  
<%= u.fields_for :relationship_type do |relationship| %>
<%= relationship.collection_select :drop_down, @relationships, :id, :description,  include_blank: true %>
<%= relationship.label :description %>
<%= relationship.text_field :description %>

<% end %><br><br>

<h4>Find your friends! </h4>

<!-- create a way that it searches for everyone who is not your friends. POssibly have to do a loop. -->
 <!-- User.all.pluck(:id) - Self.add_friend_ids gives me the value I want to substitute for User.all below. -->

<%= u.collection_check_boxes :friend_ids, @minus_current_friends , :id, :name %>

<h5>Would you like to lend them money? (Optional): </h5>
  <%=u.fields_for :transactions, Transaction.new do |transaction|%>
  <%= transaction.text_field :amount%>

  <br><%= f.submit "Add Friends"%>
  <% end %>
<% end %><br>

<!--
<h3>Add a friend that isnt here on this list with their name and email address</h3>

  <%= f.fields_for :users, User.new do |user| %>
  <%= user.label :name %>
  <%= user.text_field :name %><br> -->
  <!-- <%= user.label :email%>
  <%= user.text_field :email %> -->
  <!-- <%= f.submit "Add Friend" %>
  <% end %> -->
<% end %>
