<h3>How close are you to <%=@user.name%>? </h3>


<%= form_for @relationship do |f| %>
<%= f.fields_for :updated_relationship do |u|%>

<%= u.collection_select :drop_down, @relationships, :id, :description,  include_blank: true %>


<%= u.label :description %>
<%= u.text_field :description %>
<%= u.hidden_field :friend_id, value: @user.id %>
<%= u.hidden_field :user_id, value: current_user.id %>

  <%=f.submit%>
  <% end %>
<% end %>
